@model IEnumerable<MediaWall.Models.GetDirectoryHeadersResult>
@{
    ViewData["Title"] = "Directory";
}

@section styles {
    <link href="~/theme/jquery-ui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU" crossorigin="anonymous">
    <environment names="Development">
        <link href="~/css/Directory/directory.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/css/Directory/directory.min.css" rel="stylesheet" />
    </environment>
}

@section SideMenuHeaderText { Directory Menu }

@section SideMenuLinks {
    <a class="filterdir active" data-filter="All" href="#">Show Everyone</a>
    <a class="filterdir" data-filter="Faculty" href="#">Show Faculty</a>
    <a class="filterdir" data-filter="Staff" href="#">Show Staff</a>
    <a class="filterdir" data-filter="Postdoc" href="#">Show PostDocs</a>
    <a href="#" class="menu-toggle">Close Menu</a>
}

<div id="table-header" class="ui-widget-header ui-corner-top">Directory</div>
<div id="table-content" class="ui-widget ui-widget-content">
    <table id="directory-table" class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Office Number</th>
                <th>Telephone</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model)
            {
                <tr id="@person.CaseUserId" data-persontype="@person.PersonType" class="ui-state-default ui-widget-header">
                    <td><span class="fa fa-long-arrow-right"></span></td>
                    <td>@person.Name</td>
                    <td>@person.OfficeNum</td>
                    <td>@person.Phone</td>
                    <td>@person.Email</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="mapmodal" class="modal fade">
    <div class="modal-dialog modal-xl" role="document">
        <!-- note modal-xl is not part of the bootstrap lib. I added it to accustom for the map (which is a static image, with a canvas overlay) -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <canvas id="map">
                    Please upgrade to a browser that supports the canvas element
                </canvas>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        //put mappath in a different scope. We have to declare it here since We are using MVC to generate the paths to the map images.
        var Directory = Directory || {}; //declare the directory namespace. 

        Directory.MapPath = { //store the paths to the images in an object. This will help MVC and routing determine where the image is.
            basement: '@Url.Content("~/images/Maps/Basement_1000.jpg")',
            ground: '@Url.Content("~/images/Maps/Ground_1000.jpg")',
            one: '@Url.Content("~/images/Maps/1_1000.jpg")',
            two: '@Url.Content("~/images/Maps/2_1000.jpg")',
            three: '@Url.Content("~/images/Maps/3_1000.jpg")'
        };
    </script>
    <environment names="Development">
        <script src="~/js/Graphing/Drawing.js"></script>
        <script src="~/js/Graphing/Graph.js"></script>
        <script src="~/js/Graphing/Dijkstra.js"></script>
        <script src="~/js/Graphing/MapPoints.js"></script>        
        <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
        <script src="~/js/Directory/Directory.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/Graphing/DGDM.min.js"></script>
        <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
        <script src="~/js/Directory/Directory.min.js"></script>
    </environment>
}
