@model IEnumerable<MediaWall.Models.GetDirectoryHeadersResult>

@section styles {
    <link href="~/theme/jquery-ui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU" crossorigin="anonymous">
    <style>       
        body { background: rgb(10,48,78); }
        h1 {color: #fff; }
        #table-header{
            margin-top: 1em;
            padding: 0.25em;
            font-size: 1.15rem;
        }
      
        #table-content
        {
            padding: 1em 3em;
            margin-bottom: 10em;
        }
        #directory-table, #directory-table tr td span.fa { 
            color: #fff;                     
        }       
        
        #directory-table thead {
            background-color: #626262;
        }

        .table thead th {
            border-bottom: none;
        }
        .table th, .table td {
            border-color: #444;
        }
        .table td{
            cursor:pointer;
        }
        
        .modal-xl {
            max-width: 90%;
            overflow: auto;
        }
    </style>
}

@section SideMenuHeaderText { Directory Menu }

@section SideMenuLinks {
    <a class="filterdir active" data-filter="All" href="#">Show Everyone</a>
    <a class="filterdir" data-filter="Faculty" href="#">Show Faculty</a>
    <a class="filterdir" data-filter="Staff" href="#">Show Staff</a>
    <a class="filterdir" data-filter="Postdoc" href="#">Show PostDocs</a>
    <a href="#" class="menu-toggle">Close Menu</a>  
}

<div id="table-header" class="ui-widget-header ui-corner-top">Directory</div>
<div id="table-content" class="ui-widget ui-widget-content">
    <table id="directory-table" class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Office Number</th>
                <th>Telephone</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model)
            {
                <tr id="@person.CaseUserId" data-persontype="@person.PersonType" class="ui-state-default ui-widget-header">
                    <td><span class="fa fa-long-arrow-right"></span></td>
                    <td>@person.Name</td>
                    <td>@person.OfficeNum</td>
                    <td>@person.Phone</td>
                    <td>@person.Email</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="mapmodal" class="modal fade">
    <div class="modal-dialog modal-xl" role="document"> <!-- note modal-xl is not part of the bootstrap lib. I added it to accustom for the map (which is a static image, with a canvas overlay) -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <canvas id="map">
                    Please upgrade to a browser that supports the canvas element
                </canvas>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>
    
    <script src="~/js/Graphing/Drawing.js"></script>
    <script src="~/js/Graphing/Graph.js"></script>
    <script src="~/js/Graphing/Dijkstra.js"></script>
    <script src="~/js/Graphing/MapPoints.js"></script>
 

    <script>
        var canvas;
        var maptimer;
        function CloseDialog() {
            $("#mapdialog").dialog("close"); //close our dialog box             
            $("html, body").animate({ scrollTop: 0 }, "slow");
        }

        $(function () {
            $("#directorylink").addClass("active"); //make the menu link active

            $("#directory-table tbody tr").hover(function () { //add hover effect for jquery ui
                $(this).toggleClass("ui-state-hover");
            });

        $("#directory-table tbody tr").click(function () { //show map to persons locattion
            var officeno = $(this).find("td:eq(2)").text(); //get the office number from the table.
            //debuging tests.
            // officeno = "NOA44H";
            DrawMap("Elevator", officeno); //change office no to be whatever you want to trace a specific path.
            clearTimeout(maptimer); //clear the auto closing timer.

            $("#mapmodal .modal-title").text("Location of " + officeno);
            $("#mapmodal").modal('show');

            maptimer = setTimeout(CloseDialog, 6e4); //close the dialog box after 1 minute of inactivity.
        });

        $(".filterdir").click(function (e) {
            e.preventDefault();
            $(this).addClass('active'); //make the link active
            $(".filterdir").not($(this)).removeClass("active"); //remove all the other active links

            var filter = $(this).data("filter"); //find what to filter on
            if (filter != "All") { //if it's not everyone, then selectively show
                $("#directory-table tbody").fadeOut(function () { // you have to hide the tbody or the tds. Hiding trs causes issues since they aren't block elements.
                    $("#directory-table tbody tr[data-persontype!=" + filter + "]").hide(); //this should cause some race conditions but it's so fast it can't be seen..
                    $("#directory-table tbody tr[data-persontype=" + filter + "]").show();
                    $(this).fadeIn();
                });
            }
            else //just show everyone
            {
                $("#directory-table tbody").fadeOut(function () { //fade the table body
                    $("#directory-table tbody tr").show(); //show everything
                    $(this).fadeIn(); //fade the table body back in.
                });
            }
        });      
    });
</script>
}