@model IEnumerable<MediaWall.Models.GetDirectoryHeadersResult>

@section styles {
    <link href="~/theme/jquery-ui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU" crossorigin="anonymous">
    <style>       
        body { background: rgb(10,48,78); }
        h1 {color: #fff; }
        #table-header{
            margin-top: 1em;
            padding: 0.25em;
            font-size: 1.15rem;
        }
      
        #table-content
        {
            padding: 1em 3em;
            margin-bottom: 10em;
        }
        #directory-table, #directory-table tr td span.fa { 
            color: #fff;                     
        }       
        
        #directory-table thead {
            background-color: #626262;
        }

        .table thead th {
            border-bottom: none;
        }
        .table th, .table td {
            border-color: #444;
        }
        
    </style>
}

@section SideMenuHeaderText { Directory Menu }

@section SideMenuLinks {
    <a class="filterdir active" data-filter="All" href="#">Show Everyone</a>
    <a class="filterdir" data-filter="Faculty" href="#">Show Faculty</a>
    <a class="filterdir" data-filter="Staff" href="#">Show Staff</a>
    <a class="filterdir" data-filter="Postdoc" href="#">Show PostDocs</a>
    <a href="#" class="menu-toggle">Close Menu</a>  
}

<div id="table-header" class="ui-widget-header ui-corner-top">Directory</div>
<div id="table-content" class="ui-widget ui-widget-content">
    <table id="directory-table" class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Office Number</th>
                <th>Telephone</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model)
            {
                <tr id="@person.CaseUserId" data-persontype="@person.PersonType" class="ui-state-default ui-widget-header">
                    <td><span class="fa fa-long-arrow-right"></span></td>
                    <td>@person.Name</td>
                    <td>@person.OfficeNum</td>
                    <td>@person.Phone</td>
                    <td>@person.Email</td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section scripts {
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>
    <script>
    $(function() {
        $("#directorylink").addClass("active"); //make the menu link active

        $("#directory-table tbody tr").hover(function () { //add hover effect for jquery ui
            $(this).toggleClass("ui-state-hover");
        });

        $("#directory-table tbody tr").click(function () { //show map to persons locattion
            console.log("click", $(this).attr("id"));
        });

        $(".filterdir").click(function (e) {
            e.preventDefault();
            $(this).addClass('active'); //make the link active
            $(".filterdir").not($(this)).removeClass("active"); //remove all the other active links                        

            var filter = $(this).data("filter"); //find what to filter on
            if (filter != "All") { //if it's not everyone, then selectively show 
                $("#directory-table tbody").fadeOut(function () { // you have to hide the tbody or the tds. Hiding trs causes issues since they aren't block elements.
                    $("#directory-table tbody tr[data-persontype!=" + filter + "]").hide(); //this should cause some race conditions but it's so fast it can't be seen..
                    $("#directory-table tbody tr[data-persontype=" + filter + "]").show();
                    $(this).fadeIn();
                });
            }
            else //just show everyone 
            {
                $("#directory-table tbody").fadeOut(function () { //fade the table body 
                    $("#directory-table tbody tr").show(); //show everything
                    $(this).fadeIn(); //fade the table body back in.
                });
            }
        });
    });    
    </script>
}