@model IEnumerable<MediaWall.Models.GetDirectoryHeadersResult>

@section styles {
    <link href="~/theme/jquery-ui.min.css" rel="stylesheet" />
    <style>       
        body { background: rgb(10,48,78); }
        h1 {color: #fff; }
        #table-header{
            margin-top: 1em;
            padding: 0.25em;
            font-size: 1.15rem;
        }
        #table-content
        {
            padding: 1em 3em;
            margin-bottom: 10em;
        }
        #directory-table { 
            color: #fff;
            background: #626262;             
        }
        .table thead th {
            border-bottom: none;
        }
        .table th, .table td {
            border-color: #444;
        }
    </style>
}

@section SideMenuHeaderText { Directory Menu }

@section SideMenuLinks {
    <a href="#">Show Faculty</a>
    <a href="#">Show Staff</a>
    <a href="#">Show something else.</a>
    <select class="form-control">
        <option>A-C</option>
        <option>D-F</option>
        <option>G-H</option>
        <option>I-K</option>
    </select>    
    
}

<div id="table-header" class="ui-widget-header ui-corner-top">Directory</div>
<div id="table-content" class="ui-widget ui-widget-content">
    <table id="directory-table" class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Office Number</th>
                <th>Telephone</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model)
            {
                <tr id="@person.CaseUserId" class="ui-state-default ui-widget-header">
                    <td>@person.CaseUserId</td>
                    <td>@person.Name</td>
                    <td>@person.OfficeNum</td>
                    <td>@person.Phone</td>
                    <td>@person.Email</td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section scripts {
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>
    <script>
    $(function() {
        $("#directorylink").addClass("active");

        $("#directory-table tbody tr").hover(function () {
            $(this).addClass("ui-state-hover");
        },
        function () {
            $(this).removeClass("ui-state-hover");
        });

        $("#directory-table tbody tr").click(function () {
            console.log("click", $(this).attr("id"));
         });

    });
    </script>
}