@model IEnumerable<MediaWall.Models.Pictures>

@{
    ViewBag.Title = "Classes and Distinguished Alumni";
}

@section styles {
    <environment names="Development">
        <link href="~/css/Alumni/Alumni.css" rel="stylesheet" />
    </environment>

    <environment names="Staging,Production">
        <link href="~/css/Alumni/Alumni.min.css" rel="stylesheet" />
    </environment>    
}

@section SideMenuHeaderText { Alumni Menu }

@section SideMenuLinks {
   <a id="datesortbtn" href="#">Sort by date</a>  
   <a id="randomizebtn" href="#">Shuffle</a>  
   <a href="#" class="filterlink">Alumni</a>
   <a href="#" class="filterlink" data-low-year-filter="1900" data-high-year-filter="1910">1900-1910</a>  
   <a href="#" class="filterlink" data-low-year-filter="1910" data-high-year-filter="1920">1910-1920</a>
   <a href="#" class="filterlink" data-low-year-filter="1920" data-high-year-filter="1930">1920-1930</a>
   <a href="#" class="filterlink" data-low-year-filter="1930" data-high-year-filter="1940">1930-1940</a>
   <a href="#" class="filterlink" data-low-year-filter="1940" data-high-year-filter="1950">1940-1950</a>
   <a href="#" class="filterlink" data-low-year-filter="1950" data-high-year-filter="1960">1950-1960</a>
   <a href="#" class="filterlink" data-low-year-filter="1960" data-high-year-filter="1970">1960-1970</a>
   <a href="#" class="filterlink" data-low-year-filter="1970" data-high-year-filter="1980">1970-1980</a>
   <a href="#" class="filterlink" data-low-year-filter="1980" data-high-year-filter="1990">1980-1990</a>
   <a href="#" class="filterlink" data-low-year-filter="1990" data-high-year-filter="2000">1990-2000</a>
   <a href="#" class="filterlink" data-low-year-filter="2000" data-high-year-filter="2010">2000-2010</a>
   <a href="#" class="filterlink" data-low-year-filter="2010" data-high-year-filter="2020">2010-2020</a>   
   <a href="#" class="menu-toggle">Close Menu</a>    
}

<div class="grid">   
    @foreach (var picture in Model)
    {
        string orientation = "vertical";
        if (picture.ThumbnailHeight.HasValue && picture.ThumbnailWidth.HasValue)
        {
            orientation = (picture.ThumbnailHeight.Value > picture.ThumbnailWidth.Value) ? "vertical" : "horizontal";
        }

        bool isAlum = (picture.DisplayYear.HasValue && picture.DisplayYear.Value.Day == 31 && picture.DisplayYear.Value.Month == 12);

        <div class="grid-item" data-datesort="@picture.DisplayYear" data-alumni="@isAlum">
            <figure class="thumbnail-@orientation">
                <a href="@picture.WallLocation" title="@picture.Caption"><img class="thumbnail-@orientation" src="@picture.ThumbnailLocation" /> </a>
                <figcaption>@picture.Caption</figcaption>
            </figure>
        </div>
    }
</div>

<div id="imagemodal" class="modal fade">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <img id="classimg" class="img-fluid" src="" alt="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>              
            </div>
        </div>
    </div>
</div>

@section scripts {
<environment names="Development">    
    <script src="~/lib/images-loaded/imagesloaded.pkgd.js"></script>   
    <script src="~/lib/isotope/dist/isotope.pkgd.js"></script>
    <script src="~/js/Alumni/Alumni.js"></script>
</environment>

<environment names="Staging,Production"> 
    <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>   
    <script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.min.js"></script>
    <script src="~/js/Alumni/Alumni.min.js"></script>
</environment>   
}
