@model IEnumerable<MediaWall.Models.Pictures>

@{
    ViewBag.Title = "Pictures";
}

@section styles {
    <style>
        h1{ color: rgb(98,98,98); }
        body{
            background: #0a304e;
            /*background: #626262;*/
        }

        .grid {
            margin: 2em 0; /* allow some scroll space to allow grid items to appear above the navbar.*/
        }

        .grid-item {
            float: left;          
            margin-bottom: 2em;
            user-select: none;
            -webkit-user-select: none;
            border: solid 0.15em #4F280A;

            -webkit-box-shadow: 0px 0px 40px 6px rgba(98,98,98,0.88);
            -moz-box-shadow: 0px 0px 40px 6px rgba(98,98,98,0.88);
            box-shadow: 0px 0px 40px 6px rgba(98,98,98,0.88);

        }
        .thumbnail-vertical {
            width: 300px;
        }

        .thumbnail-horizontal {
            width: 450px;
        }

        .grid-item figure
        {
            cursor: pointer;
            margin-bottom: 0;
        }
        .grid-item figure figcaption {
            background: #bfbfbf;
            padding: 10px;
            color: #0a304e;
            cursor: default;
            border-top: 0.1em solid #0a304e;
        }
        #actionbtns {}
    </style>
}

<h1>Alumni</h1>



@section AdditionalMenuLinks {
    <li class="nav-item">
        <div id="actionbtns" class="btn-group" role="group" aria-label="Filtering buttons">
            <button type="button" class="btn btn-secondary filterbtn" data-low-year-filter="1950" data-high-year-filter="1960">1950</button>
            <button type="button" class="btn btn-secondary filterbtn" data-low-year-filter="1970" data-high-year-filter="1980">1970</button>
            <button type="button" id="datesortbtn" class="btn btn-secondary">Date Sort</button>
            <button type="button" id="randomizebtn" class="btn btn-secondary">Shuffle</button>
        </div>
    </li>
}


<div class="grid">
    @foreach (var picture in Model)
    {
        string orientation = "vertical";
        if (picture.ThumbnailHeight.HasValue && picture.ThumbnailWidth.HasValue)
        {
            orientation = (picture.ThumbnailHeight.Value > picture.ThumbnailWidth.Value) ? "vertical" : "horizontal";
        }

        <div class="grid-item" data-datesort="@picture.DisplayYear">
            <figure class="thumbnail-@orientation">
                <a href="@picture.WallLocation" title="@picture.Caption"><img class="thumbnail-@orientation" src="@picture.ThumbnailLocation" /> </a>
                <figcaption>@picture.Caption</figcaption>
            </figure>
        </div>
    }
</div>

<div id="imagemodal" class="modal fade">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <img id="classimg" class="img-fluid" src="" alt="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>              
            </div>
        </div>
    </div>
</div>

@section scripts {
<environment names="Development">    
    <script src="~/lib/images-loaded/imagesloaded.pkgd.js"></script>   
    <script src="~/lib/isotope/dist/isotope.pkgd.js"></script>
</environment>

<environment names="Staging,Production"> 
    <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>   
    <script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.min.js"></script>
</environment>

    <script>        
        $(function () {
            var $grid = $(".grid").imagesLoaded(function () {
                $grid = $('.grid').isotope({
                    // options...
                    itemSelector: '.grid-item',
                    layoutMode: 'masonry',
                    masonry: {
                        columnWidth: 150, //LCD of 300 and 450; The optional widths of the thumbnail images.
                        gutter: 16 //1 em gutter
                    },
                    getSortData: {
                        date: function (el) {
                            var strdate = $(el).data("datesort");
                            return new Date(strdate);
                        }
                    }
                });
            });

            $(".filterbtn").click(function () {                
                $(this).toggleClass("active");
                if ($(this).hasClass("active")) {
                    var lowYearFilter = $(this).data("low-year-filter");
                    lowYearFilter = parseInt(lowYearFilter);

                    var highYearFilter = $(this).data("high-year-filter");
                    highYearFilter = parseInt(highYearFilter);

                    console.log(lowYearFilter, highYearFilter);

                    $grid.isotope({
                        filter: function () {
                            var datefilter = $(this).data("datesort"); //note this changes scope
                            var dates = new Date(datefilter);                           
                            var year = dates.getFullYear();                          
                            
                            if(lowYearFilter > 0) {
                                if (highYearFilter > 0) {
                                    return (year >= lowYearFilter && year < highYearFilter);
                                }
                                return (year >= lowYearFilter);
                            }
                            return '*';
                        }
                    });
                } else {
                    $grid.isotope({ filter: '*' });
                }
            });

            $("#datesortbtn").click(function () {
                $grid.isotope({ sortBy: 'date' });                
            });

            $("#randomizebtn").click(function () {
                $(this).removeClass('active'); //we don't want the button press state to stick. 

                $grid.isotope('shuffle');               
            });


            //On a picture click 
            $(".grid-item figure a").click(function (e) {               
                e.preventDefault();
                var href = $(this).attr("href");
                var title = $(this).attr("title");
               
                $("#imagemodal").find(".modal-title").html(title);
                $("#imagemodal").find("#classimg").attr("src", href).attr("alt", "Alt image");
                $("#imagemodal").modal('show');
            });
        });
    </script>
}
